<a href="https://colab.research.google.com/github/chandanareddy039/phython/blob/master/26_12_2019.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# TO find large number from given 3 numbers

In [0]:
a=int(input("enter a values"))
b=int(input("enter b values"))
c=int(input("enter c value"))
if(a>b and a>c):
 print("a is largest")
elif(b>c and b>a):
  print("b is largest")
else:
    print("c is largest")

enter a values3
enter b values4
enter c value3
b is largest

#WHILE STATEMENTS
###syntax
####while boolean condition:<br>
          statements<br>
          increment/decrement<br>

In [0]:
x=0
while x<5:
    print("gitam")
    x=x+1

gitam
gitam
gitam
gitam
gitam

#PRINT N NATURAL NUMBER USING WHILE LOOP

In [0]:
n=int(input("print numbers"))
i=0
while i<n:
  i=i+1
  print(i,end=' ')

print numbers10
1 2 3 4 5 6 7 8 9 10

#ADD ONLY EVEN NUMBERES

In [0]:
n=int(input("print numbers"))
i=1
sum=0
while i<=n:
    if i%2==0:
        sum=sum+i
    i=i+1
print(sum)

print numbers10
30

#PALINDROME OR NOT

In [0]:
n=int(input("enter number"))
while n!=0:
    r=n%10
    print(r,end=" ")
    n=n//10

enter number123
3 2 1

#Functional programming
- simple
- easy read
- lengthy program divide into sub programs

## SYNTAX:
- def nameofthefunction(<parameters>):
    - statments
    - return

In [0]:
def addevendigits(n):
    sum=0
    while n!=0:
        r=n%10
        if r%2==0:
            sum=sum+r
        n=n//10
    return sum
addevendigits(1234)

6

# READ INPUT
- # INPUT:123
- # OUTPUT:321

In [0]:
def readinput(n):
  while n!=0:
    r=n%10
    print(r,end=" ")
    n=n//10
readinput(123)

3 2 1

#read input
- input:19528
- output:9

In [0]:
def largest(n):
  l=0
  while n!=0:
     r=n%10
     if r>l:
       l=r
       n=n//10
  return l
largest(9876)

9

# PALINDROME OR NOT

In [0]:
def ispalindrome(n):
    rev=0
    buffer=n
    while n!=0:
         r=n%10
         rev=rev*10+r
         n=n//10
    if buffer==rev:
      return "yes"
    else:
       return "no"
print(ispalindrome(123))
print(ispalindrome(121))

no
yes

# FUNCTON TO PRINT N NATURAL NUMBERS

In [0]:
def natural(n):
    for i in range(1,n+1):
        print(i,end=" ")
natural(10)

1 2 3 4 5 6 7 8 9 10

In [0]:
def natural(l,b):
    for i in range(l,b+1):
        print(i,end=" ")
natural(11,25)

11 12 13 14 15 16 17 18 19 20 21 22 23 24 25

In [0]:
def natural(l,b):
    for i in range(l,b+1,4):
        print(i,end=" ")
natural(1,10)

1 5 9

In [0]:
def reverserange(l,b):
    for i in range(b,l-1,-1):
        print(i,end=" ")
reverserange(1,10)

10 9 8 7 6 5 4 3 2 1

#DATA STRUCTURE TYPES
- list
- tuple
- dictionary

#LIST:
- Its one common datastrutue in phython,the items are separated by comma and enclosed by[]
- crud operations
- c- create
- r - read
- u - update
- d - delete
- list can be changed or mutable
#example:
- list={1,2,3,4}