<a href="https://colab.research.google.com/github/chandanareddy039/phython/blob/master/27_12_2019.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#LIST EXAMPLES

In [0]:
li=["gitam",123,124,125,129,]
print(li)

['gitam', 123, 124, 125, 129]

In [0]:
# update
li[0]="siri"
print(li)

['siri', 123, 124, 129]

In [0]:
#delete
del li[3]
print(li)

['siri', 123, 124]

In [0]:
li=[1,23,3,4,545]
print(len(li))
print(li*2)
print(3 in li)
print(4 in li)

5
[1, 23, 3, 4, 545, 1, 23, 3, 4, 545]
True
True

#BASIC LIST FUNCTIONS

In [0]:
li=[1,2,3,4,5]
print(max(li))
print(min(li))
print(sum(li))
print(sum(li)/len(li))

5
1
15
3.0

In [0]:
li=[1,2,3,4,5]
li.append(29)
print(li)
li.insert(2,56)
print(li)

[1, 2, 3, 4, 5, 29]
[1, 2, 56, 3, 4, 5, 29]

In [0]:
li=[1,9,89,56,45,12,9]
li.sort()
print(li)
li.pop(1)
print(li)

[1, 9, 9, 12, 45, 56, 89]
[1, 9, 12, 45, 56, 89]

#FUNCTION TO RETURN LARGE NUMBER FROM LIST

In [0]:
def largenumber(li):
    li.sort()
    return li[-1]
def genericlarge(li,n):
    li.sort()
    return li[-n]
li=[19,1,3,87,32,21,36] 
print(largenumber(li))
print(genericlarge(li,3))

87
32

In [0]:
def smallnumber(li):
    li.sort()
    return li[2]
def genericsmall(li,n):
    li.sort()
    return li[n-1]
    li=[9,3,54,2,1]
print(smallnumber(li))
print(genericsmall(li,2))

19
3

#TUPLE
- values separated by,enclosed by paranthesis()
- values cannot be changed i.e immutable
# DIFFERENCE BETWEEN LIST AND TUPLE
- list can be modified
- used to acess means modify,add,delete,update
- tuple cannot be modified
- used to acess the data

In [0]:
t1=(1,2,3,4,5)
print(t1)
print(type(t1))

(1, 2, 3, 4, 5)
<class 'tuple'>

#DICTIONARY
-it works on concept of set unique data
- dictionary contains keys and  values 
- each key is separated from its values with colon
- each key and values separated by comma
dictionary enclosed by()

In [36]:
d1=("name","gitam","email","gitam@gmail.com","adress","hyderabad")
d1

('name', 'gitam', 'email', 'gitam@gmail.com', 'adress', 'hyderabad')

#STRINGS

In [38]:
s1='python'
print(s1)
print(type(s1))

python
<class 'str'>

In [40]:
s1='phython'
print(s1[0])
print(s1[5])
print(s1[2:])
print(s1[::-1])
print(s1[-1::-1])

p
o
ython
nohtyhp
nohtyhp

In [41]:
s1='python'
print(s1[len(s1)//2])
print(s1[0:6:3])

h
ph

In [43]:
def reverseofstring(str):
  return str[::-1]

reverseofstring("programming")

'gnimmargorp'

#check whether given string is palindrome or not

In [49]:
def palindrome(str):
  if str==str[::-1]:
     return True
  else:
      return False
palindrome('rotor')

True

#STRING BUILD IN METHODS
- upper()
- lower()
- islower()
- isupper()
- istitle()
- isnumeric()
- isalpha()
- isspace()

In [50]:
s1='python'
print(s1.upper())

PYTHON

In [60]:
s1='python'
print(s1.lower())
print(s1.upper())
print(s1.isupper())
print(s1.islower())
print(s1.istitle())
print(s1.isnumeric())
print(s1.isalpha())
print(s1.isspace())

python
PYTHON
False
True
False
False
True
False

In [63]:
s1=' '
print(s1.isspace())

True

#STRING METHODS
- join()
- replace()
- split()

In [66]:
s1='python'
print(" @".join(s1))

p @y @t @h @o @n

In [67]:
s1="python is easy to learn"
print(",".join(s1))

p,y,t,h,o,n, ,i,s, ,e,a,s,y, ,t,o, ,l,e,a,r,n

In [72]:
s1='python is easy to learn'
print(s1.split())
print(s1.split('a'))

['python', 'is', 'easy', 'to', 'learn']
['python is e', 'sy to le', 'rn']

In [74]:
s1='python is easy to learn'
li=list(s1)
print(li,end="")

['p', 'y', 't', 'h', 'o', 'n', ' ', 'i', 's', ' ', 'e', 'a', 's', 'y', ' ', 't', 'o', ' ', 'l', 'e', 'a', 'r', 'n']

In [75]:
s1='python is easy to learn'
print(s1.replace("easy","veryeasy"))

python is veryeasy to learn

In [76]:
marks={'peter':[80,85,90],'joe':[86,90,95]}
marks

{'joe': [86, 90, 95], 'peter': [80, 85, 90]}

In [0]:
print(marks())